.stockWrapper{
    @apply grid grid-flow-row grid-cols-2 gap-2 px-5 pt-14;
}
.stockCard{
    @apply border p-2 flex gap-2 bg-[var(--primary10)] shadow-sm shadow-gray-900 relative overflow-hidden;
}
.stockCard img {
    @apply aspect-square w-[25dvw] place-self-center object-cover rounded-sm;
}
.stockCardInfo{
    @apply w-[50dvw] grid grid-flow-row px-2 h-[25dvh] font-light;
}
.stockCardInfo aside:first-of-type{
    @apply border-b sticky mb-2 font-semibold;
}
.activeAnimation:focus {
    animation: favAnimation linear 1s;
    animation-iteration-count: 1;
}
.activeAnimation:active {
    animation: none;
}
.stockCardButtons{
    @apply 
        absolute bottom-0
        h-[1.5rem] w-full
        flex justify-center items-center gap-1
        bg-opacity-60 hover:bg-opacity-100
        bg-emerald-400 hover:bg-emerald-500 
        cursor-pointer text-sm 
        leading-none select-none;
}

@keyframes favAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform:
         scale(160%)
         rotate(180deg);
    }
  
    
}